*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;  
}

body{
  background: #f6f7fc;
  color: #111;
  line-height: 1.6;
  text-align: center;
  padding: 20px;
}
/* ..................................................... */

/* Header */
.nav-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-bg{
  background-image: url(../Assets/Hero-bg.png);
  margin: auto;
  padding-bottom: 30px;
}

.logo{
  font-size: 24px;
  color: #4f46e5;
  font-weight: bold;
}

.signup-btn{
  padding: 10px 20px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.signup-btn:hover{
  background-color: tomato;
  transition: 1s;
  transform:scale(1.1);
}

/* ....................................................... */

/* Hero Section */
.hero{
  margin: 40px 0;
}
.hero h1{
  font-size: 28px;
  margin-bottom: 20px;
}

.btn-primary{
  padding: 12px 24px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.btn-primary:hover{
  background-color: tomato;
  transition: 1s;
  transform:scale(1.1);
}
/* ......................................................... */

/* See it in ACtion */
.action{
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.action-text{
  margin-bottom: 20px;
  margin-left: 20px;
}

.action-text p{
  color: #252432;
}

.btn-secondary{
  padding: 10px 20px;
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-secondary:hover{
  background-color: tomato;
  transition: 1s;
  transform:scale(1.1);
}

.action img{
  width: 300px;
  border-radius: 10px;
  margin-top: 20px;
}
/* ............................................................... */

/* Stats Section */
.stats{
  display: flex;
  justify-content: space-around;
  background: #e0e7ff;
  padding: 0px 0px 10px 10px;
  padding-top: 20px;
  border-radius: 10px;
  margin: 10px 20px;
  font-weight: 800px;
}

.stat-box h3{
  font-size: 40px;
  color: #1d4ed8;
  justify-content: space-around;
}

.stat-box p{
  font-size: 10px;
}
/* ................................................................. */

/* Testimonials Section */
.testimonials{
  text-align: center;
  padding: 60px 40px;
}
.testimonials h2{
  font-size: 24px;
  color: #1F1F38;
  margin-bottom: 40px;
}

.testimonial:hover{
  background-color: tomato;
  transition: 1s;
  transform:scale(1.1);
}

.testimonials-container{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.testimonial{
  background-color: white;
  padding: 20px;
  width: 280px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
  border-radius: 10px;
  text-align: left;
  cursor: pointer;
}

.testimonial :hover{
  background-color: aqua;
  transition: 1s;
  transform:scale(1.1);
}

.testimonial h3{
  font-size: 18px;
  margin: 10px 0 5px;
  color: #1F1F38;
}

.testimonial p{
  font-size: 14px;
  color: #144;
}

.stars{
  color: #FFB805;
  font-size: 18px;
}

.reviewer{
  display: flex;
}

.reviewer img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.name{
  font-weight: bold;
  margin: 0;
  color: #757575;
}

.date{
  font-size: 12px;
  color: #B3B3B3;
  margin: 0;
}
/* ................................................................. */

/* Focus Section */
.focus{
  margin: 40px 0;
  background-color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.focus p{
  margin: 10px 0;
}
.focus img{
  margin-top: 20px;
  width: 400px;
  border-radius: 10px;
}
/* ................................................................ */

/* Contact Form */
.contact{
  margin-left: 0px;
  margin-right: 0px;
  padding: 50px 150px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2px;
}

.contact-column{
  justify-content: space-between;
  display: flex;
  padding: 10px 20px;
}

.contact form{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}
.contact input, .contact textarea{
  padding:10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.contact textarea{
  resize: vertical;
  min-height: 100px;
}

.touch{
  text-align: left center;
  margin-top: 60px;
  margin-left:auto;
  width: 528px;
  height: 22px;
  font-weight: bolder;
  font-size: 80px;
  padding: left 50%;
}
/* .......................................................... */

/* Footer Section */
.footer{
  margin-top: 40px;
  margin-bottom: 100px;
  padding: 20px 0;
  border-top: 0px solid #ddd;
  background-color: #FFFFFF;
}

.footer div{
  font-size: 80px;
}

.footer nav a{
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

footer nav a:hover{
  background-color: gold;
}
.footer p{
  margin: 10px 0;
  font-size: 14px;
}