*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;  
}

body{
  background: #f6f7fc;
  color: #111;
  line-height: 1.6;
  text-align: center;
  padding: 20px;
}
/* ..................................................... */

/* Header */
.nav-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-bg{
  background-image: url(../Assets/Hero-bg.png);
  margin: auto;
}

.logo{
  font-size: 24px;
  color: #4f46e5;
  font-weight: bold;
}

.signup-btn{
  padding: 10px 20px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
/* ....................................................... */

/* Hero Section */
.hero{
  margin: 40px 0;
}
.hero h1{
  font-size: 28px;
  margin-bottom: 20px;
}

.btn-primary{
  padding: 12px 24px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
/* ......................................................... */

/* See it in ACtion */
.action{
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.action-text{
  margin-bottom: 20px;
  margin-left: 20px;
}

.action-text p{
  color: #252432;
}

.btn-secondary{
  padding: 10px 20px;
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.action img{
  width: 300px;
  border-radius: 10px;
  margin-top: 20px;
}
/* ............................................................... */

/* Stats Section */
.stats{
  display: flex;
  justify-content: space-around;
  background: #e0e7ff;
  padding: 0px 0px 10px 10px;
  border-radius: 10px;
  margin: 10px 20px;
  font-weight: 800px;
}

.stat-box h3{
  font-size: 40px;
  color: #1d4ed8;
  justify-content: space-around;
}

.stat-box p{
  font-size: 10px;
}
/* ................................................................. */

/* Testimonials Section */
.testimonials{
  margin: 40px 0;
}
.text-center{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
}
.testimonials-container{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

/* background: white;
  margin: 10px auto;
  border-radius: 8px;
  max-width: 300px;
  border box-shadow: 0 2px 8px rgba(0,0,0,0.1); */

.testimonial{
  padding: 20px;
  box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
  border-radius: 5px;
}
/* ................................................................. */

/* Focus Section */
.focus{
  margin: 40px 0;
}
.focus p{
  margin: 10px 0;
}
.focus img{
  margin-top: 20px;
  width: 400px;
  border-radius: 10px;
}
/* ................................................................ */

/* Contact Form */
.contact{
  margin: 5px 5px;
  display: flex;
  justify-content: space-between;
  background-color: #E5E8F0;
  width: 100%;
}

.contact-column{
  justify-content: space-between;
  display: flex;
  padding: 10px 20px;
}

.contact form{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}
.contact input, .contact textarea{
  padding:10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.contact textarea{
  resize: vertical;
  min-height: 100px;
}

.touch{
  text-align: left center;
  margin-top: 60px;
  margin-left:auto;
  width: 528px;
  height: 22px;
  font-weight: bolder;
  font-size: 80px;
  padding: left 50%;
}
/* .......................................................... */

/* Footer Section */
.footer{
  margin-top: 40px;
  margin-bottom: 100px;
  padding: 20px 0;
  border-top: 0px solid #ddd;
}

.footer div{
  font-size: 80px;
}

.footer nav a{
  margin: 0 10px;
  text-decoration: none;
  color: black;
}
.footer p{
  margin: 10px 0;
  font-size: 14px;
}